body {
  background-color: #ccc;
  font-family: 'Josefin Sans', italic;
}

h1 {
  color: #fa5705;
  padding-right: 10%;
  padding-left: 10%;
}

h2 {
  color: #ff7733;
  text-align: center;
}

h3 {
  color: #ff9966;
  text-align: center;
}

img {
  float: right;
  padding: 20px;
}

.table {
  display: table;
  width: 90%;
  margin: auto;
}


.box {
  margin: auto;
  width: 60%;
  padding: 20px;
}

.box1 {
  margin: auto;
  width: 60%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #555;
}

.box2 {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #555;
  display: table-cell;
}

.box3 {
  margin: auto;
  width: 50%;
  padding: 20px;
  display: table-cell;
}

